/* font-family styles */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Shared styles */

* {
  margin: 0px;
}
.flex {
  display: flex;
}
.primary-btn {
  width: 197px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  border-radius: 12px;
  background: rgb(254, 163, 1);
}

.header,
.banner,
.sc-cards,
.stories,
.footer,
.marquee {
  max-width: 1160px;
  margin: 0px auto;
}
.section-title {
  margin-bottom: 24px;
  font-family: Quicksand;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0%;
  text-align: left;
}
.section-subtitle {
  margin-bottom: 24px;
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
hr {
  background-color: rgb(254, 163, 1);
  height: 1px;
  border: none;
  display: none;
}
.sc-title,
.os-title {
  padding-bottom: 80px;
  padding-top: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3, 6rem;
  letter-spacing: 0%;
  text-align: center;
}

/* Header-section style */

/* navbar style */
.header {
  margin-top: 5px;
}

.nav-bar {
  align-items: center;
  justify-content: space-between;
}
.nav-1 {
  align-items: center;
  gap: 0.688rem;
}
.nav-1 h2 {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
ul {
  list-style: none;
  gap: 2rem;
  align-items: center;
}
li a {
  text-decoration: none;
  text-align: center;
  font-family: Quicksand;
  color: rgb(254, 163, 1);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.home {
  font-weight: 700;
}
.about {
  color: rgb(1, 172, 253);
}
.facilities {
  color: rgb(5, 212, 223);
}
.admission {
  color: rgb(93, 88, 239);
}
.nav-3 {
  align-items: center;
}
.nav-4 img {
  width: 1.38rem;
  height: 25px;
}
.nav-4 {
  align-items: center;
  justify-content: center;
  display: none;
}

.marq {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 194, 26);
}

/* Banner-section style */
.banner {
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 640px;
}
.banner button {
  background: rgb(17, 17, 17);
}
#yellow-title {
  color: rgb(254, 163, 1);
}
#blue-title {
  color: rgb(1, 172, 253);
}
.hero-pic img {
  width: 100%;
}

/* standard-curriculum section style*/
.standard-curriculum {
  background-image: url("../assets/bg.png");
  background-position-x: 170px;
  background-repeat: no-repeat;
}

.sc-card1 img,
.sc-card2 img,
.sc-card3 img {
  margin-top: 10px;
}

.sc-cards {
  display: flex;
  justify-content: space-between;
}
.sc-card1,
.sc-card2,
.sc-card3 {
  max-width: 367px;
  height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.sc-cards h3 {
  color: rgb(32, 32, 32);
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 33px;
  margin-top: 27px;
}
.sc-cards p {
  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 27px;
}
.sc-cards h5 {
  color: rgb(100, 200, 255);
  font-family: Quicksand;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0%;
  text-align: center;
}
.sc-card2 {
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.sc-card3 {
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.sc-card2 h5 {
  color: rgb(240, 170, 0);
}
.sc-card3 h5 {
  color: rgb(135, 0, 255);
}
.sc-btn {
  margin-top: 70px;
  gap: 20px;
  width: 60px;
  height: 60px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  background: rgb(254, 163, 1);
  transition: background 2s ease-in, transform 2s ease-in;
}
.sc-btn:hover{
  background: rgb(24, 249, 242);
  transform: scale(1.5) translatey(30px);

}

.fa-angle-left,
.fa-angle-right {
  font-size: large;
}
.shift-arrow {
  justify-content: center;
  gap: 10px;
}

/* Our-stories section style */
.our-stories {
  background: url("../assets/bg.png"),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.our-stories img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0px 0px;
}
.os-title {
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 57.5px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 60px;
}
.ls-date {
  margin-left: 38px;
  margin-top: -18px;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 0.99rem;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  max-width: 174.51px;
  height: 50px;
  border-radius: 47.93px;
  border: none;
  background: rgb(60, 216, 232);
}
.ls-title {
  padding-top: 33px;
  padding-bottom: 43px;
  margin-left: 38px;
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38.35px;
  letter-spacing: 0%;
  text-align: left;
}
.ls-description {
  margin-left: 38px;
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 0.99rem;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 35px;
}
.left-story {
  width: 540.27px;
  height: 630.52px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.rs {
  max-width: 290px;
  height: 301px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.rs-date {
  border-radius: 47.93px;
  border: none;
  background: rgb(149, 178, 38);
  max-width: 177.51px;
  height: 38.35px;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 38px;
  margin-top: -16px;
}
.rs {
  display: flex;
  flex-direction: column;
}
.rs h3 {
  padding: 0px 38px;
  color: rgb(0, 0, 0);
  font-family: Quicksand;
  font-size: 0.99rem;
  font-weight: 1200;
  line-height: 28.76px;
  letter-spacing: 0%;
  text-align: left;
  padding-top: 23px;
  padding-bottom: 33px;
}
.right-story {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.stories {
  justify-content: space-between;
}
.rs-btn2 {
  background-color: rgb(93, 88, 240);
}
.view-btn {
  border-radius: 12px;
  border: none;
  background: rgb(17, 17, 17);
  width: 197px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
}
.btn-view {
  justify-content: center;
  height: 120px;
  margin-top: 80px;
}

/* Footer-section styles */
.footer-section {
  margin-top: 20px;
  background: rgb(1, 172, 253);
}
.footer {
  padding-top: 140px;
  padding-bottom: 174px;
  justify-content: space-between;
}
.f1-content img {
  width: 82px;
  height: 81px;
}
.f1-content {
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 2rem;
  font-weight: 600;
  line-height: 39.51px;
  letter-spacing: 0%;
  text-align: left;
}
.f1-description {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}
.footer1 {
  max-width: 400px;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
.f2-list {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
  flex-direction: column;
  gap: 20px;
}
.footer2 {
  flex-direction: column;
  gap: 32px;
}
.footer2 h3 {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.footer3 h3 {
  color: rgb(255, 255, 255);
  font-family: Quicksand;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.footer3 {
  flex-direction: column;
  gap: 32px;
}

/* Responsive style */
@media screen and (max-width: 576px) {
  .header,
  .banner,
  .standard-curriculum,
  .right-story,
  .marquee {
    margin: 0px 15px;
  }
  /* header-section */
  .header {
    margin-top: 5px;
  }
  .nav-1 h2,
  .nav-2,
  .nav-3 {
    display: none;
  }
  .nav-4 {
    display: block;
  }
  hr {
    display: block;
  }
  /* banner-sction */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-title {
    font-size: 2.2rem;
    line-height: normal;
    margin-bottom: 18px;
  }
  .section-title,
  .section-subtitle {
    text-align: center;
  }
  /* standard-curriculum section */
  .sc-cards {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .shift-arrow {
    display: none;
  }
  /* story-section */
  .left-story {
    display: none;
  }
  .rs {
    width: 100%;
    height: auto;
  }
  .rs-date {
    max-width: 137.51px;
    margin-left: 10px;
    margin-top: -22px;
  }
  .rs h3 {
    padding: 10px 5px 10px 10px;
  }
  .right-story {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer-section */

  .footer-section {
    margin-top: 0px;
  }
  .footer {
    padding: 70px 15px;
    flex-direction: column;
    gap: 35px;
  }
  .footer1 {
    width: 100%;
    height: auto;
  }
}
